# ====== Required Variables ======
# generate a secret with `openssl rand -base64 32`
BETTER_AUTH_SECRET=you-should-change-this-secret-key
BETTER_AUTH_URL=https://example.com/api/auth

# ====== Optional Variables ======
NEXT_TELEMETRY_DISABLED=1
DATABASE_URL=./data/db.sqlite
NODE_ENV=development
PORT=3000